body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.canvas {
  border: 5px solid #000000;
  margin: 10px auto;
  cursor: none;
}

.stateButton, .toolButton, .stickerButton {
  font-weight: bold;
  width: 50;
  height: 10;
  margin: 10px;
}

.selectedTool {
  background-color: #76e3a5;
  border-color: #1b693d;
}
