body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.canvas {
  border: 5px solid #000000;
  margin: 0 auto;
}

.button {
  width: 50;
  height: 10;
  margin: 10px;
}
